.servis{
    background-image: url('../../img/подложка\ 3\ блок\ 1.png');
    background-repeat: no-repeat;   
    background-size: cover;
    margin-top: -20px;
    h1 ,p,li{
        color: #fff;
    }
}
.serviss{
    display: flex;
    justify-content: space-between;
}
.servis__text    {
   
       
   
}   