.Footer{

background: #464646;
background-size: cover;
}
.Footer__inner{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p{
            color: #fff;
        }
        
}